# Setting up Logistic Regression for the AI vs Human images

In [10]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LogisticRegression, LogisticRegressionCV
from sklearn.model_selection import cross_validate
from time import time
from Loader import train_data, test_data

In [19]:
df_train = train_data()
print(df_train.shape)
df_train.head(3)

(100000, 3073)

,0,1,2,3,4,5,6,7,8,9,...,3063,3064,3065,3066,3067,3068,3069,3070,3071,label
0,114,112,113,119,117,118,117,117,115,111,...,100,91,86,99,91,88,98,90,87,Fake
1,206,204,205,215,213,214,224,222,223,228,...,126,125,123,124,123,121,123,122,120,Fake
2,153,185,208,130,162,185,153,185,208,162,...,167,178,172,166,177,171,165,176,170,Fake

In [18]:
df_test = test_data()
print(df_test.shape)
df_test.head(3)

(20000, 3073)

,0,1,2,3,4,5,6,7,8,9,...,3063,3064,3065,3066,3067,3068,3069,3070,3071,label
0,11,45,54,14,48,57,20,52,63,26,...,59,71,71,60,72,72,46,58,58,Fake
1,86,84,85,60,58,59,56,54,55,87,...,61,59,60,57,55,56,59,57,58,Fake
2,96,80,90,97,81,92,102,86,97,110,...,75,65,66,74,64,62,70,61,56,Fake

In [13]:
df_sample = df_train.sample(frac=0.1, random_state=0)

In [16]:
X = df_sample.drop('label', axis=1)
y = df_sample.label

In [17]:
time_start = time()
lgr = LogisticRegression(n_jobs=-1)

lgr.fit(X,y)

time_stop = time()
print('Elapsed Time for Logistic Regression:', time_stop-time_start)
print()
print('Baseline Training Accuracy:', lgr.score(X,y))

Elapsed Time for Logistic Regression: 74.39588809013367

Baseline Accuracy: 0.7183

### Cross validation

train = np.load('./Train_images.npz',allow_pickle=True)
test = np.load('./Test_images.npz',allow_pickle=True)

n = len(train['images'])
comb = comb.reshape((n, -1))

df = pd.DataFrame(comb)
df.head(3)

##train['images'][0]  #load an image
##train['labels'][0]   #get the label

# print(len(train['images'])) # 100000 images in this set
# print(train['labels'][0])   # Returns whether the selected image is real or fake

img = []
ts = time()
for k in range(10):
    img.append(train['images'][k].reshape(1, 32*32*3))
    
tss = time()
print(tss-ts)
img

# time_start = time()
# feat = []
# for k in range(20):
#     img = Image.fromarray(train['images'][k], 'RGB')
#     feat.append(img)
    
# time_stop = time()
# print('Elapsed Time for Features:', time_stop-time_start)