# Format Data

In [1]:
import pandas as pd
import os
import numpy as np
from PIL import Image
from sklearn.linear_model import LogisticRegression, LogisticRegressionCV

In [2]:
path = "./AIR_Image"

In [3]:
df = pd.DataFrame()

In [4]:
fake_train_images = []
fake_test_images = []
real_train_images = []
real_test_images = []

In [5]:
for filename in os.listdir(path + "/train/FAKE/"):
    file_path = path + "/train/FAKE/"
    im = Image.open(file_path + filename)
    im_array = np.array(im)
    fake_train_images.append(im_array)
    
print(len(fake_train_images))

50000

In [6]:
for filename in os.listdir(path + "/train/REAL/"):
    file_path = path + "/train/REAL/"
    im = Image.open(file_path + filename)
    im_array = np.array(im)
    real_train_images.append(im_array)
    
print(len(real_train_images))

50000

In [7]:
for filename in os.listdir(path + "/test/FAKE/"):
    file_path = path + "/test/FAKE/"
    im = Image.open(file_path + filename)
    im_array = np.array(im)
    fake_test_images.append(im_array)
    
print(len(fake_test_images))

10000

In [8]:
    
for filename in os.listdir(path + "/test/REAL/"):
    file_path = path + "/test/REAL/"
    im = Image.open(file_path + filename)
    im_array = np.array(im)
    real_test_images.append(im_array)
    
print(len(real_test_images))

10000

In [9]:
df_fake_test = pd.DataFrame()
df_fake_train = pd.DataFrame()
df_real_train = pd.DataFrame()
df_real_test = pd.DataFrame()

In [10]:
df_fake_train['images'] = fake_train_images
df_fake_train['labels'] = 'Fake'
print(df_fake_train.shape)
df_fake_train.head(3)

(50000, 2)

                                              images labels
0  [[[114, 112, 113], [119, 117, 118], [117, 117,...   Fake
1  [[[206, 204, 205], [215, 213, 214], [224, 222,...   Fake
2  [[[153, 185, 208], [130, 162, 185], [153, 185,...   Fake

In [11]:
df_fake_test['images'] = fake_test_images
df_fake_test['labels'] = 'Fake'
print(df_fake_test.shape)
df_fake_test.head(3)

(10000, 2)

                                              images labels
0  [[[11, 45, 54], [14, 48, 57], [20, 52, 63], [2...   Fake
1  [[[86, 84, 85], [60, 58, 59], [56, 54, 55], [8...   Fake
2  [[[96, 80, 90], [97, 81, 92], [102, 86, 97], [...   Fake

In [12]:
df_real_train['images'] = real_train_images
df_real_train['labels'] = 'Real'
print(df_real_train.shape)
df_real_train.head(3)

(50000, 2)

                                              images labels
0  [[[169, 169, 181], [138, 138, 150], [91, 93, 1...   Real
1  [[[168, 180, 192], [174, 186, 198], [179, 191,...   Real
2  [[[150, 195, 100], [103, 147, 58], [111, 152, ...   Real

In [13]:
df_real_test['images'] = real_test_images
df_real_test['labels'] = 'Real'
print(df_real_test.shape)
df_real_test.head(3)

(10000, 2)

                                              images labels
0  [[[240, 250, 242], [251, 255, 251], [234, 239,...   Real
1  [[[197, 24, 0], [212, 39, 0], [224, 51, 0], [2...   Real
2  [[[77, 98, 41], [92, 120, 62], [114, 149, 91],...   Real

In [14]:
df_test = pd.DataFrame()
df_train = pd.DataFrame()

In [15]:
df_test = pd.concat([df_fake_test,df_real_test],axis = 0)

In [16]:
df_test.shape

(20000, 2)

In [17]:
df_train = pd.concat([df_fake_train,df_real_train],axis = 0)

In [18]:
df_train.shape

(100000, 2)

In [19]:
np.savez_compressed('./Train_images.npz',
                    images=df_train.images,
                    labels=df_train.labels)

In [ ]:
np.savez_compressed('./Test_images.npz',
                    images=df_test.images,
                    labels=df_test.labels)

In [ ]:
train = np.load('./Train_images.npz', allow_pickle=True)
##train['images'][0]  #load an image
##train['label'][0]   #get the label