In [1]:
import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import GridSearchCV
from time import time
from Loader import train_data_vgg16

In [2]:
df = train_data_vgg16()
df.head()

,0,1,2,3,4,5,6,7,8,9,...,503,504,505,506,507,508,509,510,511,class
0,27.489744,0.0,0.000000,0.000000,0.000000,4.406033,0.000000,0.000000,0.0,9.508491,...,0.000000,0.0,0.0,0.0,3.239264,5.528229,0.0,0.0,0.00000,Real
1,0.000000,0.0,0.000000,27.298634,0.000000,21.718521,17.454420,0.000000,0.0,14.870244,...,0.000000,0.0,0.0,0.0,0.000000,22.730530,0.0,0.0,0.00000,Real
2,0.000000,0.0,0.000000,0.000000,0.000000,7.493243,0.000000,1.344108,0.0,0.000000,...,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.00000,Real
3,0.000000,0.0,29.934219,39.067970,0.000000,24.231049,6.911931,0.000000,0.0,0.000000,...,16.403683,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,17.57489,Real
4,0.000000,0.0,0.000000,24.634619,26.340034,0.000000,0.000000,0.000000,0.0,0.000000,...,13.876423,0.0,0.0,0.0,0.000000,28.267170,0.0,0.0,0.00000,Real

In [3]:
df_sample = df.sample(frac=1.0, random_state=0)

In [4]:
X = df_sample.drop('class', axis=1)
y = df_sample['class']
X.head()

,0,1,2,3,4,5,6,7,8,9,...,502,503,504,505,506,507,508,509,510,511
3582,0.000000,0.0,0.0,0.000000,4.260871,18.161793,0.0,0.000000,0.0,20.675310,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00000,0.000000
10498,32.219925,0.0,0.0,24.435274,0.000000,0.000000,0.0,2.313794,0.0,10.794803,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00000,0.000000
3227,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00000,65.122879
21333,22.872917,0.0,0.0,0.000000,30.738342,34.451023,0.0,0.000000,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00000,0.000000
3885,28.040337,0.0,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.0,65.730591,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.50366,0.000000

In [ ]:
#Number of trees in the forest. We'll check 10, 20, 30, ... , 200
B = np.arange(50, 2000, 50)
grid = {'n_estimators': B}

rf = RandomForestClassifier()

time_start = time()
rfCV = GridSearchCV(rf, param_grid=grid, return_train_score=True, n_jobs = -1)
rfCV.fit(X, y)
time_stop = time()
print('Elapsed Time for Logistic Regression:', time_stop-time_start)

In [ ]:
rfCV.best_score_

In [ ]:
rfCV.best_params_

In [ ]:
rfCV.best_estimator_.get_params()

In [ ]:
results = pd.DataFrame()
results['trees'] = grid['n_estimators']
results['train error'] = 1 - rfCV.cv_results_['mean_train_score']
results['validation error'] = 1 - rfCV.cv_results_['mean_test_score']

results.plot.line(x = 'trees', y = ['train error', 'validation error'])